body {
  background-image: url("big_INWYDT.png");
  background-repeat: no-repeat;
  height: 100%;
}

li {
  list-style-type: none;
  float: right;
  padding-right: 10px;
}

li a {
  display: block;
  text-decoration: none;
}

.input {
  float: right;
  border: 1px solid black;
  position:absolute;
  left: 70%;
  top:35%;
  text-align: center;
  padding: 10px;
}

.input h2 {
  font-size: 28px;
}

.input p {
  font-size: 20px;
}
