<!doctype html>
<html lang="en" ng-app="signUp">
<head>
  <meta charset="utf-8">
  <title>Text Meme</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="signup.js"></script>
  <link rel="stylesheet" type="text/css" href="signup.css">
</head>

<body ng-view ng-controller="mainController">
  <div class="header">
    <div class="nav">
      <ul>
        <li><a href="sign_up.html">Sign Up</a></li>
        <li><a href="/search">Search Memes</a></li>
        <li><a href="aboutme.html">About Us</a></li>
	<li><a href="howto.html">How To</a></li>
	<li><a href="index.html">Home</a></li>
      </ul>
    </div>
  </div>
  <div class="input">
    <div class="src">
      <h2>Sign Up</h2>
      <p> Enter your phone number: </p>
      <input ng-model="phoneNumber" type='text' placeholder="Ex. 14151234567">
    </div>
    <div class="btn">
      <button ng-click="click(phoneNumber)" class="inputBtn">Sign Me Up!</button>
    </div>
    <div class="v_code">
      <p id="code_phrase" style='display:none'> <b>Your Verification Code is:</b> </p>
      <p>{{data}}<p>
    </div>
  </div>
</body>

</html>
