body {
    font-family: Circular,"Avenir Next",Helvetica,Arial,sans-serif;
    font-color: #484848;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.meme_container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* You can set flex-wrap and flex-direction individually */
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* Or do it all in one line with flex flow */
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  /* tweak the where items line up on the row */
  /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  -webkit-align-content: flex-end;
  align-content: flex-end;
  padding: 0 15%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.img_box {
    border: 1px solid #1985A1;
    border-radius: 25px;
    height: 300px;
    width: 300px;
    padding: 50px;
    text-align: center;
}

.image {
    margin: 10px;
    max-width: auto;
    max-height: 90%;
    padding-left: 10px;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.search {
    border: 1px solid #1985A1;
    height: 50px;
    width: 40%;
    border-radius: 4px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

.title, .divider {
  text-align: center;
  color: #1985A1;
}

.title {
  padding-top: 20px;
  font-size: 30px;
}

.divider {
  font-size: 15px;
}

button {
    height: 38px;
    width: 20%;
    background-color: #1985A1;
    border:0;
    border-radius: 4px;
    float: right;
    margin: 5px 5px;
    font-size: 18px;
    color: white;
}

button:hover, button:focus {
    background: rgba(30, 158, 190, 0.9);
}

input[type=text] {
    width: 70%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

intput[type=text]:focus {
    width: 100%;
}