<!DOCTYPE HTML>
<html>
  <head>
    <title> Available Memes </title>
    <link rel="stylesheet" href="static/header.css">
    <link rel="stylesheet" href="static/common.css">
    <link rel="stylesheet" href="static/footer.css">
    <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script type="text/javascript" src="static/algoliadev.js"></script>
  </head>
  <body>
    <header>
      <div class=logo>
        TextMeme <span id="phrase">Stay Memetastic Y'all</span>
      </div>
      <div class=nav>
        <ul>
          <li><a href="../aboutme.html">About</a></li>
          <li><a href="../sign_up.html#">Sign Up</a></li>
        </ul>
      </div>
    </header>
    <div class="container">
      <div class="title">
        Available Memes
      </div>
      <div class="divider">
        Prettiest page on this website -J
      </div>
      <div class="search">
	<input type="text" name="search" placeholder="Search..">
	<button> Search </button>
      </div>
      <div class="memes">
        <div class="meme_container">
	  {% for image_url, name in content.items() %}
	  <div class="img_box">
	    <div class="image"> <img src="{{image_url}}"></div>
	    <p> {{name}}</p>
	  </div>
	  {% endfor %}
        </div>
      </div>
    </div>
    <footer>
      &copy; Jay &amp; Jennie
    </footer>
  </body>
</html>
