<!DOCTYPE HTML>
<html>
  <head>
    <title> Available Memes </title>
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/common.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
  </head>
  <body>
    <header>
      <div class=logo>
        TextMeme <span id="phrase">Stay Memetastic Y'all</span>
      </div>
      <div class=nav>
        <ul>
          <li><a href="../about/about.html">About</a></li>
          <li><a href="../sign_up/signup.html">Sign Up</a></li>
        </ul>
      </div>
    </header>
    <div class="container">
      <div class="title">
        Available Memes
      </div>
      <div class="divider">
        ...
      </div>
      <div class="search">
      </div>
      <div class="memes">
        <div class="meme_container">
	  {% for image_url in content %}
	  <div class="img_box">
	    <div class="image"> <img src="{{image_url}}"></div>
	    <p> Name of Meme</p>
	  </div>
	  {% endfor %}
        </div>
      </div>
    </div>
    <footer>
      &copy; Jay &amp; Jennie
    </footer>
  </body>
</html>
